:root {
    /* Measurement Units */
    --side-padding-space: 6rem;
    --width-50: 50%;
    --lh-2rem: 2rem;

    /* Colors */
    --txt-light: #FFFFFF;
    --txt-dark: #391400;
    --txt-dark-gray: #391400A3;
    --txt-light-gray: #FFFFFFA3;
    --primary-dark-bg-clr: #28293E;
    --primary-light-bg-clr: #FDF0E9;
    --primary-brand-clr: #EF6D58;
    --border-clr: #F3D1BF;
    --team-border-clr: #3A3C56;

    /* Fonts Related Style */
    --desc-fs: 0.85rem;
    --desc-fc: var(var(--txt-light-gray));
    --txt-fw-800: 800;
}

/* ========== Custom Utility Clasees ========== */
.two-division {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 3rem;
}

.equal-pad-box {
    padding: var(--side-padding-space);
}

.txt-title {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: var(--lh-2rem);
    letter-spacing: 0.25rem;
    color: var(--primary-brand-clr);
}

.txt-tagline {
    font-weight: var(--txt-fw-800);
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.1rem;
    position: relative;
    z-index: initial;
}

.txt-desc {
    line-height: 1.75rem;
    font-size: var(--desc-fs);
    margin-bottom: 2rem;
    color: var(--txt-light-gray);
}

/* ========== Regular Styling ========== */
body {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    color: var(--txt-light);
}

#hero {
    background: var(--primary-dark-bg-clr);
}

/* ==============================
 Navbar Styling
 ============================== */
.navbar {
    padding: 0;
}

.container-fluid {
    background: var(--primary-dark-bg-clr);
    padding: 0 var(--side-padding-space);
}

.nav-link {
    display: block;
    padding: 1rem 3.5rem;
    font-size: small;
    color: var(--txt-light);
    text-decoration: none;
    background: 0 0;
    border: 0;
}

.nav-link:hover {
    color: var(--primary-brand-clr);
}

.contact-btn {
    background-color: transparent;
    border: 1px solid #808080;
    border-radius: 0.375rem;
    line-height: 2.5rem;

    a {
        font-size: var(--desc-fs);
        font-weight: 900;
        color: var(--txt-light);
        text-decoration: none;
        padding: 0 2rem;
    }
}

/* Hero Section */
.hero-content-container {
    flex-direction: row-reverse;
    padding: 4rem var(--side-padding-space) 3rem;
}

.hero-img-box {
    width: var(--width-50);
}

#hero-img {
    width: 100%;
}

.hero-content {
    width: var(--width-50);
    display: flex;
    flex-direction: column;
}

#star-svg {
    width: 8rem;
    position: absolute;
    left: 22rem;
    top: 8.6rem;
}

.hero-txt-tagline {
    line-height: 5rem;
}

.hero-txt-desc {
    font-size: var(--desc-fs);
    line-height: var(--lh-2rem);
    color: var(--txt-light-gray);
    margin-bottom: 2rem;
}

/* CTA (Call-To-Action) Container */
.cta-container {
    margin-bottom: 5rem;
}

.how-we-work-btn {
    border-style: none;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: var(--primary-brand-clr);
    color: var(--txt-light);
    padding: 0.9rem 1.25rem 0.75rem 1.25rem;
    display: inline-block;

    a {
        text-decoration: none;
        color: var(--txt-light);
    }
}

.contact-us {
    margin-left: 3rem;
    text-decoration: none;
    color: var(--txt-light);
    font-size: small;
}

/* Testimonial Card */
.testimonial-card {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

#testi-img {
    height: 3rem;
    margin-right: 1rem;
}

.testi-body {
    display: flex;
    flex-direction: column;
}

.testi-desc {
    font-size: var(--desc-fs);
    line-height: 1rem;
    color: var(--txt-light-gray);
    margin-bottom: 0.5rem;
}

.testi-body span {
    font-size: var(--desc-fs);
}

/* ==============================
About Section Styling
============================== */
#about {
    background: var(--primary-light-bg-clr);
}

.brands-we-have-worked {
    display: flex;
    align-items: center;
    height: 10rem;
    border-bottom: 1px solid var(--border-clr);
}

#brands-we-worked {
    width: 100%;
}

/* About Content Container Style */
.about-img-box {
    width: var(--width-50);
}

#about-img {
    width: 95%;
}

.about-content {
    width: var(--width-50);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 5rem;
    color: var(--txt-dark);
}

.about-txt-title {
    margin: 0;
}

.about-txt-tagline {
    font-weight: var(--txt-fw-800);
    font-size: 3rem;
    margin: 0;
}

.about-txt-normal {
    line-height: var(--lh-2rem);
    font-size: 1.25rem;
}

.about-txt-desc {
    color: var(--txt-dark-gray);
    line-height: 1.75rem;
}

.about-cta-container {
    margin: 0;
}

.about-us {
    border-style: none;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    font-weight: 900;
    background-color: var(--txt-light);
    color: var(--txt-dark);
    padding: 1rem 2.25rem 0.75rem 2.25rem;
}

/* More Info Cats */
.more-info-card {
    display: inline-flex;
    width: 100%;
    color: var(--txt-dark);
    border: 1px solid var(--border-clr);
    border-radius: 0.375rem;
    margin: 4rem 0 0;
}

.info-card:nth-child(2) {
    border-left: 1px solid var(--border-clr);
    border-right: 1px solid var(--border-clr);
}

.info-card {
    padding: 2.5rem;
    width: 100%;
}

.card-title {
    font-weight: var(--txt-fw-800);
    line-height: 3rem;
    margin: 0;
}

.card-body {
    line-height: var(--lh-2rem);
    margin: 0;
}

/* ==============================
How We Work Section Styling
============================== */
#how-we-work {
    background: var(--primary-light-bg-clr);
    padding-top: 0;
}

.hww-content-container {
    padding: 2rem 0 6rem;
    border-bottom: 1px solid var(--border-clr);
}

.hww-content {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    padding: 0 8rem 0 0;
}

.hww-txt-tagline {
    font-size: 2.25rem;
    font-weight: var(--txt-fw-800);
    margin-bottom: 2rem;
}

.hww-txt-desc {
    color: var(--txt-dark-gray);
}

.read-more {
    text-decoration: none;
    color: var(--txt-dark);
    font-size: 1rem;
}

.hww-process-card {
    display: flex;
    flex-direction: column;
    padding: 0rem 0;
}

.process-card {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.process-number {
    display: flex;
    align-items: center;
    min-width: 5rem;
    margin: 0;
    font-weight: var(--txt-fw-800);
    font-size: 4.5rem;
    line-height: 5rem;
    text-align: center;
}

.process-desc {
    font-weight: 700;
    margin: 0;
}

/* ==============================
Video Reel Section Styling
============================== */
#video-reel {
    background: var(--primary-light-bg-clr);
    padding: 0 6rem 3rem;
}

.vr-container {
    padding: 0;
}

.vr-content-container {
    padding: 0;
}

.vr-img-box {
    width: var(--width-50);
}

.video-overlayer {
    position: absolute;
}

#play-icon {
    position: relative;
    transform: translate(11.5rem, 6rem);
}

#timestamp-icon {
    position: relative;
    transform: translate(-8rem, 14rem);
}

#vr-img {
    width: 95%;
}

.vr-txt-title {
    margin-bottom: 1rem;
}

.vr-txt-tagline {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* ==============================
Portfolio Section
============================== */
#portfolio {
    background: var(--primary-dark-bg-clr);
    padding: 0 6rem 4rem;
}

.portfolio-content-container {
    padding: 5rem 0 0;
}

.portfolio-txt-title {
    text-align: center;
}

.portfolio-txt-tagline {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

/* ==============================
Portfolio Section: Categories Tab
============================== */

.tab-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 0;
}

.tab-card {
    position: relative;
    text-align: center;
    color: var(--txt-light-gray);
    cursor: pointer;
    margin: 0 2rem;
}

.tab-count {
    position: absolute;
    font-size: 0.75rem;
    color: var(--txt-light-gray);
}

.all-tab {
    top: -0.3rem;
    right: -0.8rem;
}

.design-tab {
    top: -0.3rem;
    right: -0.5rem;
}

.branding-tab {
    top: -0.3rem;
    right: -0.5rem;
}

.illustration-tab {
    top: -0.3rem;
    right: -0.5rem;
}

.motion-tab {
    top: -0.3rem;
    right: -0.3rem;
}

.tab-card:hover .tab-txt {
    color: white;
    transition: color 0.3s ease;
}

/* ==============================
Portfolio Section: Portfolio Photos
============================== */
#photo-box {
    padding: 5rem 0 6rem;
}

.rows {
    display: flex;
}

.photo {
    position: relative;
    border-radius: 1rem;
    margin: 1rem;
}

.photo > img {
    width: 100%;
    border-radius: 1rem;
}

.portfolio-overlayer {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

.tag {
    background-color: var(--txt-light);
    color: var(--txt-dark);
    padding: 0.75rem 1rem 0.5rem;
    border-radius: 5rem;
    line-height: var(--lh-2rem);
    font-size: 1rem;
}

.overlayer-title {
    color: var(--txt-light);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3rem;
    margin-top: 1rem;
}

#explore-more-btn {
    margin: 2rem 43% 10rem;
    padding: 0.25rem 1.25rem;

    span {
        font-weight: 900;
        font-size: var(--desc-fs);
        text-align: center;
    }
}

/* ==============================
Portfolio Section: Banner
============================== */
.banner {
    background-color: var(--primary-light-bg-clr);
    border-radius: 0.5rem;
    display: flex;
}

.banner-content {
    margin-left: 5rem;
}

#gift-star-img {
    position: relative;
    top: -5rem;
}

.banner-typography {
    position: relative;
    top: -4rem;
}

.banner-txt-tagline {
    color: var(--txt-dark);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: var(--lh-2rem);
    margin-bottom: 1rem;
}

.cta-container {
    margin: unset;
}

.card-bg-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#card-block-img {
    width: 90%;
}

.cloud-bg-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#cloud-bg-img {
    position: relative;
    right: 1.75rem;
    top: -2.25rem;
    width: 95%;
}

.poster-girl-box {
    position: relative;
    top: -22.8rem;
    right: -2rem;
}

#poster-girl-img {
    position: absolute;
    width: 78%;
}

/* ==============================
Portfolio Section: Our Team
============================== */
.two-division {
    justify-content: space-between;
}

.col {
    display: flex;
    justify-content: center;
}

.card {
    background-color: transparent;
    border: unset;
    width: 14.875rem;
}

.img-box {
    height: 15rem;
    background-color: transparent;
    border: 0.1rem solid var(--team-border-clr);
    border-radius: 0.25rem;
    display: flex;
    align-items: end;
    justify-content: center;
}

#designer-img {
    width: 75%;
}

#developer-img {
    width: 95%;
}

#illustrator-img {
    width: 80%;
}

#product-img {
    width: 90%;
}

.carousel-arrow-box {
    display: flex;
    flex-direction: column;
    justify-content: end;

    :hover {
        cursor: pointer;
    }
}

.ot-card-title {
    color: var(--txt-light);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 1rem 0 0.5rem;
}

.ot-card-text {
    color: var(--txt-light-gray);
    font-size: 0.9rem;
}

.carousel-indicator-box {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

/* ==============================
Pricing Section
============================== */
#pricing {
    background: var(--primary-light-bg-clr);
}

.pricing-content-box {
    padding: 5rem 8rem 3rem;
}

.pricing-tagline {
    font-weight: var(--txt-fw-800);
    font-size: 3.25rem;
    line-height: 4rem;
    color: var(--txt-dark);
    letter-spacing: -1px;
}

.pricing-card-box {
    color: var(--txt-dark);
    display: flex;
    box-sizing: border-box;
}

.pricing-card {
    border: 0.1rem solid var(--border-clr);
    padding: 2.5rem;
}

.card1,
.card3 {
    margin-top: 3rem;
}

.card1 {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    border-right: none;
}

.card2 {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    background-color: var(--txt-light);
}

#contact-us {
    border-style: none;
    border-radius: 0.3rem;
    font-size: 0.75rem;
    font-weight: 900;
    background-color: var(--primary-brand-clr);
    color: var(--txt-light);
    padding: 1rem 2.25rem 0.75rem 2.25rem;
}

.pricing-tag {
    background-color: var(--primary-brand-clr);
    color: var(--txt-light)
}

.card3 {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-left: none;
}

.pricing-card-title {
    letter-spacing: 0.2rem;
}

.pricing-card-tagline {
    font-weight: var(--txt-fw-800);
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.pricing-card-desc {
    font-size: var(--desc-fs);
    line-height: 1.75rem;
    color: var(--txt-dark-gray);
    margin-bottom: 2rem;
}

.offers-list {
    margin-bottom: 2rem;
}

.offers-icon {
    margin-right: 1rem;
}

.minus-icon-txt {
    color: var(--txt-dark-gray);
}

.icon-txt {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 2rem;
}

/* ==============================
FAQ Section
============================== */
#faq {
    background: var(--primary-light-bg-clr);
}

.faq-content-container {
    padding: 5rem 8rem 5rem;
}

.faq-content {
    width: var(--width-50);
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: var(--txt-dark);
}

.faq-content-box {
    padding-right: 6rem;

}

.faq-contact-us {
    color: var(--txt-dark);
    margin: 0;
}

.accordion {
    border: 1px solid var(--border-clr);
    border-radius: 0.375rem;
}

.accordion-button {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
}

.accordion-body {
    padding: 0 2.5rem 2rem;
    font-size: var(--desc-fs);
    line-height: 1.75rem;
    color: var(--txt-dark-gray);
}

/* When FAQ is Not Opened. */
.accordion-button.collapsed {
    padding: 2.5rem;
    background-color: var(--primary-light-bg-clr);
    border: 1px solid var(--border-clr);
}

/* When FAQ is Opened. */
.accordion-button:not(.collapsed) {
    background-color: var(--txt-light);
    padding: 3rem 2.5rem 1.5rem;
    color: var(--txt-dark);
    box-shadow: none;
}

/* Accordion Functionality Styling */
.accordion-button::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%20fill%3D%22%23EF6D58%22/%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.0454%2021.14L10.2494%2015.658C9.68335%2015.013%2010.1434%2014%2011.0024%2014H20.5944C20.987%2013.9997%2021.3435%2014.2291%2021.5058%2014.5867C21.6681%2014.9442%2021.6061%2015.3637%2021.3474%2015.659L16.5514%2021.139C16.3615%2021.3563%2016.0869%2021.481%2015.7984%2021.481C15.5098%2021.481%2015.2352%2021.3563%2015.0454%2021.139V21.14Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

.accordion-button.collapse::after {
    transform: rotate(-180deg);
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(360deg);
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%20fill%3D%22%23EF6D58%22/%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.247%2010.86L10.451%2016.341C9.88501%2016.988%2010.345%2018%2011.204%2018H20.796C21.1887%2018.0004%2021.5452%2017.7709%2021.7075%2017.4133C21.8697%2017.0558%2021.8078%2016.6364%2021.549%2016.341L16.753%2010.861C16.5631%2010.6437%2016.2886%2010.519%2016%2010.519C15.7114%2010.519%2015.4369%2010.6437%2015.247%2010.861V10.86Z%22%20fill%3D%22white%22/%3E%3C/svg%3E");
}

/* ==============================
Get In Touch Section
============================== */
#get-in-touch {
    background-image: url(/Assets/get-in-touch-section/map.png);
    padding: 5rem 8rem 0;
    height: 100dvh;
    background-size: cover;
}

.get-in-touch-container {
    padding: 2.5rem 0 0;
}

.contact-form-box {
    background-color: var(--txt-light);
    padding: 2.5rem;
    border-radius: 0.375rem;
    width: 25.5rem;
    height: 25rem;
}

.form-select {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6L10 0H0L5 6Z' fill='%23EF6D58'/%3E%3C/svg%3E%0A");
    border: 1px solid var(--border-clr);
    border-radius: 0.375rem;
    font-size: var(--desc-fs);
    color: var(--txt-dark-gray);
    padding: 0.5rem 0.75rem 0.25rem;
    line-height: 1.5rem;
}

.form-title {
    color: var(--txt-dark);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.25rem 0.75rem 0;
    border: 1px solid var(--border-clr);
    border-radius: 0.375rem;
    font-size: var(--desc-fs);
    color: var(--txt-dark-gray);
    line-height: 2rem;
}

input,
select {
    margin-bottom: 1.25rem;
}

#message {
    margin-bottom: 1.5rem;
}

.submit-btn-box {
    display: flex;
    align-self: center;
    justify-content: end;

    button {
        border: 1px solid var(--border-clr);
        border-radius: 0.375rem;
        background-color: var(--primary-brand-clr);
        color: var(--txt-light);
        font-size: var(--desc-fs);
        font-weight: 900;
        padding: 0.8rem 1.5rem 0.7rem;
    }
}

.location-icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#location-pin-icon {
    position: absolute;
    left: 64%;
}

/* ==============================
Sitemap Section
============================== */
#sitemap {
    background: var(--primary-light-bg-clr);
    padding: 5rem 8rem 0;

    .sitemap-content {
        color: var(--txt-dark);
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 3rem;
        border-bottom: 1px solid var(--border-clr);

        .sitemap-box {
            width: 25%;

            .sitemap-logo {
                font-weight: 700;
                font-size: 1.5rem;
                line-height: var(--lh-2rem);
                letter-spacing: 0rem;
            }

            .link-box {
                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: var(--txt-dark);
                    font-size: var(--desc-fs);
                    line-height: 1.5rem;
                    letter-spacing: 0px;
                }
            }

            .media-box {
                display: flex;
                justify-content: end;

                .sitemap-social-media-icon-box {
                    background-color: var(--primary-brand-clr);
                    border-radius: 50%;
                    width: 3rem;
                    height: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 0.25rem;
                }
            }
        }
    }
}

/* ==============================
Footer Section
============================== */
.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    .copyright-text {
        color: var(--txt-dark-gray);
        font-size: var(--desc-fs);
        line-height: 1.5rem;
        margin: 0;
    }
}

footer a {
    text-decoration: none;
    color: var(--txt-dark);
    font-size: var(--desc-fs);
    line-height: 1.5rem;
    letter-spacing: 0px;
    margin: 0 0.5rem;
}